{% load home_pagetags wagtailcore_tags %}
{% get_site_root as site_root %}

<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{% pageurl site_root %}" class="navbar-brand" title="{{ site_root.title }}" data-placement="bottom">
                RegOnWye
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                {% for menuitem in menuitems %}
                    <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                        {% if menuitem.show_dropdown %}
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }} <b class="caret"></b></a>
                            {% top_menu_children parent=menuitem %}
                        {% else %}
                            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                        {% endif %}
                    </li>       
                {% endfor %}
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-danger">
                        <li>
                            <a href="blog-post.html">Blog post</a>
                        </li>
                        <li>
                            <a href="blog-posts.html">Blog Posts</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-danger">
                        <li>
                            <a href="about-us.html">About us</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Contact us</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a href="signin.html">Signin</a>
                        </li>
                        <li>
                            <a href="signup.html">Signup</a>
                        </li>
                        <li>
                            <a href="../documentation/components.html">All components</a>
                        </li>
                    </ul>
                </li> -->
                <!-- <li>
                    <a href="pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="" class="btn btn-danger">Buy now</a>
                </li>
                <li class="dropdown">
                    <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-share-alt"></i> Share
                    </a>
                    <ul class="dropdown-menu dropdown-danger">
                        <li>
                            <a href="#"><i class="fa fa-facebook-square"></i> Facebook</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i> Instagram</a>
                        </li>
                    </ul>
                </li> -->
                <li>
                    <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}" method="get">
                        <div class="input-group">
                            <input type="text" name="query" class="form-control" placeholder="Search…" value="{{ search_query }}" />
                                <!-- <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                            <!-- <div class="input-group-btn">
                            </div> -->
                        </div>
                    </form>
                </li>

                <!-- <form method='GET' action="{# url 'search:default' #}" class="form-inline container-fluid" style="margin-right:10px;">
                    <div class="input-group">
                    <input type="text" name="q" value="{{ request.GET.q }}" class="form-control mr-sm-2" placeholder="Search..." aria-describedby="basic-addon1">
                    <button class="input-group-addon btn-default" id="basic-addon1" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                    <!-- <button class="btn btn-default" type="submit">Search</button> 
                    <button class="input-group-addon btn btn-outline-default my-2 my-sm-0" id="basic-addon1" type="submit"></button>
                    -->
                    <!-- {% comment %} <span class="input-group-addon" id="basic-addon1"></span> {% endcomment %}
                    </div>
                </form> -->


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>