{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static reg_blogtags service_pagetags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="section section-header">
        <div class="parallax">
                {% image page.landing_image max-1800x978 %}
            <div class="image" style="
                background-image: url('page.landing_image.url')">
            </div>
            {# endif #}
            <div class="container">
                {# for post in homepage #}
                <div class="content">
                    <p style="color:black;">{{ self.heading }}<span></span></p>
                    <h1 class="h1-responsive" style="color:black;">{{ self.sub_heading }}</h1>
                    <div class="separator-container">
                        <div class="separator separator-default">♦</div>
                    </div>
                    <span>{{ self.intro|richtext }}</span>
                    <!-- <h5></h5> -->
                </div>
                {# endfor #}
            </div>
        </div>
        <a href="" data-scroll="true" data-id="#firstSection" class="scroll-arrow hidden-xs hidden-sm">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
    <div class="section" id="firstSection">
        <div class="container">
            <div class="title-area">
            {% for item in self.home_landing.all %}
                <h2>{{ item.landing_title }}</h2>
                <div class="separator separator-default">♦</div>
                <p class="description">
                    {{ item.landing_intro|richtext }}
                </p>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section-get-started">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3e/I-80_Eastshore_Fwy.jpg')">
            </div>
            <div class="container">
                <div class="row">
                {% for item in self.home_market.all %}
                    <div class="col-md-3 col-sm-3 col-xs-6">
                            {% image item.market_image fill-398x398 as background %}
                            {# image item.market_image fill-300x300 #}
                            <img src="{{ background.url }}" alt="" class="img-fluid img-responsive center-block">
                        <h4>{{ item.market_title }}</h4>
                        <a href="{{ item.market_url }}" target="_blank"><button type="button" class="btn btn-danger btn-round">{{ item.market_button }}</button></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    {% service_listing_homepage %}

    {% blog_listing_homepage %}


    


{% endblock %}
