{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="section section-header">
        <div class="parallax filter filter-color-black">
            {# if page.landing_image #}
                {% image page.landing_image max-1800x978 %}
            <div class="image" style="
                background-image: url('page.landing_image.url')">
            </div>
            {# endif #}
            <div class="container">
                {# for post in homepage #}
                <div class="content">
                    <p>{{ self.heading }}<span></span></p>
                    <h1 class="h1-responsive">{{ self.sub_heading }}</h1>
                    <div class="separator-container">
                        <div class="separator line-separator">♦</div>
                    </div>
                    <h5>{{ self.intro|richtext }}</h5>
                </div>
                {# endfor #}
            </div>
        </div>
        <a href="" data-scroll="true" data-id="#firstSection" class="scroll-arrow hidden-xs hidden-sm">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
    {{ page.body|richtext }}
{% endblock %}
