{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static reg_blogtags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="section section-header">
        <div class="parallax filter filter-color-black">
                {% image page.landing_image max-1800x978 %}
            <div class="image" style="
                background-image: url('page.landing_image.url')">
            </div>
            {# endif #}
            <div class="container">
                {# for post in homepage #}
                <div class="content">
                    <p>{{ self.heading }}<span></span></p>
                    <h1 class="h1-responsive">{{ self.sub_heading }}</h1>
                    <div class="separator-container">
                        <div class="separator line-separator">♦</div>
                    </div>
                    {{ self.intro|richtext }}
                    <!-- <h5></h5> -->
                </div>
                {# endfor #}
            </div>
        </div>
        <a href="" data-scroll="true" data-id="#firstSection" class="scroll-arrow hidden-xs hidden-sm">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
    <div class="section" id="firstSection">
        <div class="container">
            <div class="title-area">
            {% for item in self.home_landing.all %}
                <h2>{{ item.landing_title }}</h2>
                <div class="separator separator-default">♦</div>
                <p class="description">
                    {{ item.landing_intro|richtext }}
                </p>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section-get-started">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3e/I-80_Eastshore_Fwy.jpg')">
            </div>
            <div class="container">
                <div class="row">
                {% for item in self.home_market.all %}
                    <div class="col-md-3 col-sm-3 col-xs-6">
                            {% image item.market_image fill-398x398 as background %}
                            {# image item.market_image fill-300x300 #}
                            <img src="{{ background.url }}" alt="" class="img-fluid img-responsive center-block">
                        <h4>{{ item.market_title }}</h4>
                        <a href="{{ item.market_url }}" target="_blank"><button type="button" class="btn btn-danger btn-round">{{ item.market_button }}</button></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="section section-our-projects">            
        <div class="title-area">
            <h2>Services</h2>
            <div class="separator separator-default">♦</div>
            <p class="description">
                    Here are some of the services offered at Registry on Wye
            </p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="{% static 'img/project-1.jpg' %}" />
                        <a class="over-area" href="">
                            <div class="content">
                                <label class="label label-danger label-fill">Website Redesign</label>
                                <h2 class="h2-responsive">Famous Website Redesign</h2>
                                <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="{% static 'img/project-6.jpg' %}" />
                        <a class="over-area" href="">
                            <div class="content">
                                <label class="label label-danger label-fill">Marketing</label>
                                <h2 class="h2-responsive">Social Marketing</h2>
                                <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="{% static 'img/project-4.jpg' %}" />
                        <a class="over-area" href="">
                            <div class="content">
                                <label class="label label-danger label-fill">Website Redesign</label>
                                <h2 class="h2-responsive">Behance Redesign</h2>
                                <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="{% static 'img/project-3.jpg' %}" />
                        <a class="over-area" href="">
                            <div class="content">
                                <label class="label label-info label-fill">App Development</label>
                                <h2 class="h2-responsive">Analytics App Android</h2>
                                <p>We will find freedom in truth as opposed to ridicule. Let's fight for our future. We can change everything. Pablo in blood It wasn’t any Kanyes</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% blog_listing_homepage %}


    


{% endblock %}
