{% load wagtailcore_tags wagtailimages_tags static %}

<div class="section section-our-projects" style="background-color:#F7F8F7">            
        <div class="title-area">
            <h2>Services</h2>
            <div class="separator separator-default">♦</div>
            <p class="description">
                    Here are some of the services offered at Registry on Wye
            </p>
        </div>
    {% if posts %}
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-3 col-sm-3">
                    <div class="card card-blog card-plain">
                        <a href="{% pageurl post %}" class="header">
                            {% image post.feed_image fill-398x266 as background %}
                            <img src="{{ background.url }}" class="image-header">
                        </a>
                        <div class="content">
                            <!-- <h6 class="card-date">Feb 17</h6> -->
                            <a href="{% pageurl post %}" class="card-title">
                                <h3>{{ post.title }}</h3>
                            </a>
                            <div class="line-divider line-danger"></div>
                            {% for cat in post.service_categories.all %}
                                <h6 class="card-category">{{ cat.name }}</h6>
                            {% endfor %}
                            <p style="color:black;">{{ post.body|truncatechars_html:25 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>