{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static i18n %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<div class="section section-header section-header-small">
    <div class="parallax">
        <div class="image" style="background-image: url('{% static 'img/header-10.jpeg' %}')"></div>

        <div class="container">
            <div class="content">
                <h1 style="color:#809281; font-family: 'Great Vibes', cursive; font-size:80px;">News</h1>
            </div>
        </div>
    </div>
</div>

<div class="section section-card-blog">
    <div class="container">
        <div class="title-area">
            <h2>Our Posts</h2>
            <div class="separator separator-default">✻</div>
        </div>

        <div class="row">
        {% for post in blogpages %}
                {% include 'blog/includes/blog_list_item.html' %}
            {% empty %}
                No blogs found
        {% endfor %}
        </div>
    </div>
    <br>
    <br>

    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
        {% if blogpages.paginator.num_pages == 1 %}
        <li>{% trans "Page 1 of 1" %}</li>
        {% else %}    
            {% if blogpages.number > 1 %}
            <li>
                <a href="?page={{ blogpages.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for page_number in blogpages.paginator.page_range %}
                {% if blogpages.number == page_number %}
                    <li class="active warning"><a href="">{{ page_number }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}

            {% if blogpages.number < blogpages.paginator.num_pages %}
            <li>
                <a href="?page={{ blogpages.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>
</div>



{% endblock %}