{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">
        <div class="image"
            style="background-image:url('{% static 'img/header-10.jpeg' %}')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1>Blog</h1>
                    <!-- <h3>Find only the best stories from our famous writers.</h3> -->
                    <!-- <button type="button" class="btn btn-white btn-fill">Discover Stories</button> -->
                </div>
            </div>

        </div>
    </div>

</div>

<div class="section section-card-blog">
    <div class="container">
        <div class="title-area">
            <!-- <h5 class="text-gray">Don't miss our</h5> -->
            <h2>Our Posts</h2>
            <div class="separator separator-default">♦</div>
        </div>

        <div class="row">
        {% for post in blogpages %}
                {% include 'blog/includes/blog_list_item.html' %}
            {% empty %}
                No blogs found
        {% endfor %}
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4 previous">
            {% if blogpages.has_previous %}
                <a href="?page={{ blogpages.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            Page {{ blogpages.number }} of {{ blogpages.paginator.num_pages }}
        </div>
        <div class="col-sm-4 next">
            {% if blogpages.has_next %}
                <a href="?page={{ blogpages.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}