{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">

        {% image self.header_image max-1800x978 %}
        <div class="image"
            style="background-image:url('self.header_image.url')">
        </div>
        <div class="container">
            <div class="content">
                <h1>{{ self.title }}</h1>
                <h3 class="subtitle">{{ self.intro }}</h3>
                <div class="separator separator-default">✻</div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="content-blog">
                    <p class="meta">{{ self.date }}</p>
                    {% if self.body %}
                        {% include  "blog/includes/streamfield.html" with content=self.body %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 text-center col-sm-4">
            {% with self.related_author.all as authors %}
                {% if authors %}
                    {% for author in authors %}
                        <h3 class="social-title">Author</h3>
                        
                        <div class="author">
                            {% if author.author.feed_image %}
                                {% image author.author.feed_image fill-300x300 as photo %}
                                <div class="avatar avatar-default">
                                    <img alt="..." src="{{ photo.url }}"/>
                                </div>
                                {% else %}
                                <div class="avatar avatar-default">
                                    <img src="https://www.sbsc.in/images/dummy-profile-pic.png" alt="">
                                </div>
                            {% endif %}

                            <div class="description text-center">
                                <h3 class="big-text">{{ author.author }}</h3>
                                <!-- <p class="small-text">Designer</p> -->
                            </div>
                            <div class="social-buttons">
                                <a href="https://twitter.com/registryonwye" target="_blank" class="btn btn-social btn-simple"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.pinterest.ca/registryonwye" target="_blank" class="btn btn-social btn-simple"><i class="fa fa-pinterest"></i></a>
                                <a href="https://www.facebook.com/registryonwye" target="_blank" class="btn btn-social btn-simple"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}