{% extends 'base.html' %}

{% block title %} Terms of Service | {{ block.super }} {% endblock %}

{% block content %}
<section class="" style="background-color: #EDF4F0; padding-top: 100px; padding-bottom: 50px;">
    <div class="container">
        <h2 class="h2-responsive"><b>Disclaimer and copyright</b></h2>
        <p> Terms of use and copyright information for Registry on Wye</p> 
        <hr style="color: green">
        <p style="font-weight:200"><strong><b>Terms of Use</b></strong></p>
        <p>By using this website, you understand and agree that:</p>
        <h5 class="h2-responsive"><b>Disclaimer and limitation of liability</b></h5>
        
        <p>The information provided on this Registry on Wye web site has been compiled for your convenience. Registry on Wye makes no warranties about the accuracy or completeness of any information contained on this web site.
        The Web Site and the Content is provided "AS IS" and "AS AVAILABLE" without representation, warranty or condition of any kind, expressed or implied.
        In no event shall Registry on Wye, its officers, employees, agents, web designers, Network Managers, licensors, suppliers and their respective successors and assigns be liable for damages of any kind, including, without limitation, any direct, special, indirect, punitive, incidental or consequential damages incurred in connection with your use, misuse or reliance upon the Web Site, or your inability to use the Web Site, regardless of the cause and whether arising in contract (including fundamental breach), tort (including negligence), or otherwise. The foregoing limitation shall apply even if the Registry on Wye knew of or ought to have known of the possibility of such damages.
        You acknowledge and agree that your access to and use of the Web Site and the Content is entirely at your own risk and liability.</p>
        
        <h5 class="h5-responsive"><b>Use of the Web Site</b></h5>
        Registry on Wye authorizes you to access and use the Web Site in accordance with the terms and conditions of this Agreement
        <br>
        <h5 class="h5-responsive"><b>Copyright</b></h5>
        
        <p> Web Site and the Content are protected by copyright and other intellectual property laws and is owned by Registry on Wye or the party accredited as the provider of the Content. Except as granted in the limited license herein, any use of the Content, including modification, transmission, publication, distribution, republication, or other exploitation of the Web Site or of its Content, whether in whole or in part, is prohibited without the express prior written consent of the Registry on Wye</p> 
        <br>
        <h5 class="h5-responsive"><b>Links to other websites</b></h5>
        
        <p>Links to other web sites are provided for your convenience and Registry on Wye is not responsible for the information contained on those web sites. The provision of a link to another web site does not constitute an endorsement or approval of that web site, or any products or services offered on that web site, by Registry on Wye. Registry on Wye will not accept any liability for the use of those links to connect to web sites that are not under our control.</p>
        <br>
        <h5 class="h5-responsive"><b>Limited license</b></h5>
        <p>Subject to the terms and conditions of this Agreement, you are hereby granted a limited, non-transferable and non-exclusive license to access, view and use the Web Site and the Content for your personal or commercial use. You are granted the right to download, store and/or print copies of items comprising the Content for your use, provided that you maintain all copyright and other notices contained in such Content. You must also abide by any additional requirements governing the use of any specific Content that may be set out in the Web Site. In the event of a conflict between the terms of a license governing specific Content and this Agreement, the terms of the specific license shall govern.
        Registry on Wye reserves the right to make changes, modifications, additions, deletions and corrections to the web site, at any time and without notice.</p>
    </div>
</section>


{% endblock %}