{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags static i18n %}


{% block content %}
<div class="section section-header section-header-small">
    <div class="parallax">
        {# image self.header_image max-1500x960 #}
        <div class="image" style="background-image: url('{% static 'img/corporate_reg.jpeg' %}')"></div>

        <div class="container">
            <div class="content">
                <h1 style="color:#A43134; font-family: 'Great Vibes', cursive; font-size:80px;">{{ self.heading }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="section" style="background-color:#F7F8F7">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>{{ self.sub_heading }}</h2>
                <div class="separator separator-default">✻</div>
                <p>{{ self.body|richtext }}</p>
            </div>
        </div>

        {% if all_categories %}
        <div class="" style="padding-bottom:20px;">
            <ul class="nav nav-tabs">
                {% for cat in all_categories %}
                    <li role="presentation" class="active"><a href="{% url 'service:category' cat.slug %}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row">
        {% for post in services %}
            {% with post=post.specific %}
            <div class="col-md-4 col-sm-4">
                <div class="card card-blog card-plain">
                    <a href="{% pageurl post %}" class="header">
                        {% image post.feed_image fill-398x266 as background %}
                        <img src="{{ background.url }}" class="image-header">
                    </a>
                    <div class="content">
                        <!-- <h6 class="card-date">Feb 17</h6> -->
                        <a href="{% pageurl post %}" class="card-title">
                            <h3>{{ post.title }}</h3>
                        </a>
                        <div class="line-divider line-danger"></div>
                        {% for cat in post.service_categories.all %}
                            <h6 class="card-category">{{ cat.name }}</h6>
                        {% endfor %}
                        <!-- <p style="color:black;">{{ post.body|truncatechars_html:20 }}</p> -->
                    </div>
                </div>
            </div>
            {% endwith %}
            {% if forloop.counter|divisibleby:3 %}
                </div><div class="row">
            {% endif %}
        {% endfor %}

        <br>
        <br>
        <div class="col-sm-12 text-center">  
            <nav aria-label="Page navigation">
                <ul class="pagination">
                {% if services.paginator.num_pages == 1 %}
                <li>{% trans "Page 1 of 1" %}</li>
                {% else %}    
                    {% if services.number > 1 %}
                    <li>
                        <a href="?page={{ services.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page_number in services.paginator.page_range %}
                        {% if services.number == page_number %}
                            <li class="active warning"><a href="">{{ page_number }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if services.number < services.paginator.num_pages %}
                    <li>
                        <a href="?page={{ services.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}