{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags static %}




{% block content %}
<div class="section section-header section-header-about">
    <div class="parallax filter filter-color-black">
        {% image self.header_image max-1500x960 %}
        <div class="image"
            style="background-image:url('self.header_image.url')">
        </div>
        <div class="container">
            <div class="content">
                <h1 class="h1-responsive">{{ self.index_title }}</h1>
                <!-- <h3 class="subtitle">How We Started the Journey.</h3> -->
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>{{ self.index_subtitle }}</h2>
                <div class="separator separator-default">✻</div>
                <p>{{ self.intro|richtext }}</p>
            </div>
        </div>
        <div class="row">
            {% for post in formpages %}
                {% with post=post.specific %}
                    <div class="col-md-3 col-sm-6">
                        <div class="info-icon">
                            <a href="{% pageurl post %}">
                                {% with post.feed_image as feed_image %}
                                    {% if feed_image %}{% image feed_image width-398 %}{% endif %}
                                {% endwith %}
                                <h4>{{ post.form_title }}</h4>
                            </a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}